@charset "UTF-8";

@media screen and (min-width: 768px) {

    main {
        width: 100%;
    }

    section.versiculos > article {
        width: 600px;
    }

    div#titulo > h2 {
        margin-bottom: 20px;
    }

    nav {
        width: 400px;
    }

    footer > a {
        font-size: 1.1em;
    }
}

@media print {

    header, footer {
        display: none;
    }

    section.versiculos > article {
        width: 700px;
    }
}